h1 {
    font-size: 20 px;
    color: rgb(82, 9, 9);
}

h2 {
    color: #ff0000;
}

p {
    padding: 20px;
}

.box {
    background-color: sienna;
}

#box-2 {
    background-color: #88ff7d;
    font-size: 18 px;
    color: #0d5394;
}

#box-3 {
    background-color: #000000;
}

#box-3 h2 {
    color: rgb(207, 123, 63);
    padding: 20px 0 0 20px;
}

#box-3 p {
    color: #ffffff;
}